<h1>Lista de docentes</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Sexo</th>
    <th>Cédula</th>
  </tr>

<% @docentes.each do |docente| %>
  <tr>
    <td><%=h docente.nombre1 %>
    <%=h docente.nombre2 %>
    <%=h docente.apellido1 %>
    <%=h docente.apellido2 %></td>
    <td><%=h docente.email %></td>
    <td><%=h docente.sexo.descripcion %></td>
    <td><%=h docente.cedula %></td>
    <td><%= link_to 'Mostrar', docente %></td>
    <td><%= link_to 'Editar', edit_docente_path(docente) %></td>
    <td><%= link_to 'Eliminar', docente, :confirm => '¿Está usted seguro/a?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<br />

<%= link_to 'Añadir docente', new_docente_path %>