<p>
  	<h2>Datos personales de docente</h2>
	<p>
	  <b>Nombres:</b>
	  <%=h @docente.nombre1 %>
	  <%=h @docente.nombre2 %>
	<br />
	  <b>Apellidos:</b>
	  <%=h @docente.apellido1 %>
	  <%=h @docente.apellido2 %>
	</p>
	<p>
	 <b>Sexo:</b>
	  <%=h @docente.sexo.descripcion %>
	  <b>Cédula:</b>
	  <%=h @docente.cedula %>
	<br />
	  <b>Fecha de nacimiento:</b>
	  <%=h @docente.fecha_nac %>
	<br />
	  <b>Lugar de nacimiento:</b>
	  <%=h @docente.lugar_nac %>
	</p>
	<p>
	  <b>e-mail:</b>
	  <%=h @docente.email %>
	</p>
	<%= saca_cursos(@docente)%>

<%= link_to 'Edit', edit_docente_path(@docente) %> |
<%= link_to 'Back', docentes_path %>