<h1>Editing curso</h1>

<% form_for(@curso) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :materia_id %><br />
    <%= f.text_field :materia_id %>
  </p>
  <p>
    <%= f.label :fecha_inicio %><br />
    <%= f.date_select :fecha_inicio %>
  </p>
  <p>
    <%= f.label :fecha_finalizacion %><br />
    <%= f.date_select :fecha_finalizacion %>
  </p>
  <p>
    <%= f.label :nivel_id %><br />
    <%= f.text_field :nivel_id %>
  </p>
  <p>
    <%= f.label :horario %><br />
    <%= f.text_field :horario %>
  </p>
  <p>
    <%= f.label :docente_id %><br />
    <%= f.text_field :docente_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @curso %> |
<%= link_to 'Back', cursos_path %>