<h1>Lista de cursos</h1>

<table>
  <tr>
    <th>Materia</th>
    <th>Fecha inicio</th>
    <th>Fecha finalizacion</th>
    <th>Nivel</th>
    <th>Horario</th>
    <th>Docente</th>
  </tr>

<% @cursos.each do |curso| %>
  <tr>
    <td><%=h curso.materia.titulo %></td>
    <td><%=h curso.fecha_inicio %></td>
    <td><%=h curso.fecha_finalizacion %></td>
    <td><%=h curso.nivel_id %></td>
    <td><%=h curso.horario %></td>
    <td><%=h curso.docente_id %></td>
    <td><%= link_to 'Mostrar', curso %></td>
    <td><%= link_to 'Editar', edit_curso_path(curso) %></td>
    <td><%= link_to 'Eliminar', curso, :confirm => '¿Está usted seguro/a?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New curso', new_curso_path %>