<h1>New curso</h1>

<% form_for(@curso) do |f| %>
  <%= f.error_messages %>

  <p>
	<%=
	    @materias = Materia.find(:all)
	    f.collection_select(:materia_id, @materias, :id, : )
	%>
	
   
  </p>
  <p>
    <%= f.label :fecha_inicio %><br />
    <%= f.date_select :fecha_inicio %>
  </p>
  <p>
    <%= f.label :fecha_finalizacion %><br />
    <%= f.date_select :fecha_finalizacion %>
  </p>
  <p>
	<%=
	    @nivels = Nivel.find(:all)
	    f.collection_select(:nivel_id, @nivels, :id, :descripcion )
	%>
    
  </p>
  <p>
    <%= f.label :horario %><br />
    <%= f.text_field :horario %>
  </p>
  <p>
	<%=
	    @docentes = Docente.find(:all)
	    f.collection_select(:docente_id, @docentes, :id, :nombre1 )
	%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cursos_path %>