<h1>Añadir curso</h1>

<% form_for(@curso) do |f| %>
  <%= f.error_messages %>

  <p>
	<% @materias = Materia.find(:all) -%>
	    Titulo : 
	<%= f.collection_select(:materia_id, @materias, :id, :titulo )	%>
	
  <p>
	<%	@nivels = Nivel.find(:all) -%>
	   Nivel:
	<%= f.collection_select(:nivel_id, @nivels, :id, :descripcion )	%>

  </p>  
  </p>
  <p>
    Fecha de inicio:
    <%= f.date_select :fecha_inicio %>
  </p>
  <p>
	Fecha de finalización:
    <%= f.date_select :fecha_finalizacion %>
  </p>

  <p>
   Horario:
    <%= f.text_field :horario %>
  </p>
  <p>
	<% @docentes = Docente.find(:all) %>
	Docente encargado del curso
	<%= f.collection_select(:docente_id, @docentes, :id, :nombre1 )	%>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Hacia atrás', cursos_path %>