<h2>Ficha de curso</h2>
<p>
  <b>Materia:</b>
  <%=h @curso.materia.titulo %><br />
  <b>Descripción:</b>
  <%=h @curso.materia.descripcion %>
<br />
  <b>Nivel:</b>
  <%=h @curso.nivel.descripcion %>
</p>
<p>
  <b>Horario:</b>
  <%=h @curso.horario %>
</p>


<p>
  <b>Comienzo:</b>
  <%=h @curso.fecha_inicio %>

  <b>Final</b>
  <%=h @curso.fecha_finalizacion %>
</p>




<p>
  <b>Encargado docente:</b>
  <%=h @curso.docente.nombre_completo %>
</p>


<%= link_to 'Editar', edit_curso_path(@curso) %> |
<%= link_to 'Hacia atrás', cursos_path %>