<h1>Lista de estudiantes</h1>
<% form_tag({:controller => 'busquedas', :action => 'index'}, :method => 'get') do %>
<%= text_field_tag "q", params[:q] %>
<%= submit_tag "Busca!" %>
<% end %>
<table>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Sexo</th>
    <th>Cédula</th>
  </tr>
<%  @estudiantes = @estudiantes.sort_by { |a| [a.apellido1.downcase, a.apellido2.downcase] } %>
<%= debug(@estudiantes) %>
<% @estudiantes.each do |estudiante| %>
  <tr>
    <td><%=h estudiante.nombre_completo %>
    <td><%=h estudiante.email %></td>
    <td><%=h estudiante.sexo.descripcion %></td>
    <td><%=h estudiante.cedula %></td>
    <td><%= link_to 'Mostrar', estudiante %></td>
    <td><%= link_to 'Editar', edit_estudiante_path(estudiante) %></td>
    <td><%= link_to 'Eliminar', estudiante, :confirm => '¿Está usted seguro/a?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Añadir estudiante', new_estudiante_path %>