<h2>Datos personales</h2>
<p>
  <b>Nombres:</b>
  <%=h @estudiante.nombre1 %>
  <%=h @estudiante.nombre2 %>
<br />
  <b>Apellidos:</b>
  <%=h @estudiante.apellido1 %>
  <%=h @estudiante.apellido2 %>
</p>
<p>
 <b>Sexo:</b>
  <%=h @estudiante.sexo.descripcion %>
  <b>Cédula:</b>
  <%=h @estudiante.cedula %>
<br />
  <b>Fecha de nacimiento:</b>
  <%=h @estudiante.fecha_nac %>
<br />
  <b>Lugar de nacimiento:</b>
  <%=h @estudiante.lugar_nac %>
</p>
<p>
  <b>e-mail:</b>
  <%=h @estudiante.email %>
</p>
<h2>Notas</h2>
<%= saca_notas(@estudiante) %>
@estudiante.fields_for do |builder|
<%= render "edit_notas", :f => builder %>
end
<%= link_to 'Editar', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Hacia atrás', estudiantes_path %>