<h1>Listando personas y cursos matriculados</h1>

<table>
  <tr>
    <th><%= link_to 'Estudiante', sort_params(Credito, :estudiante_id) %></th>
    <th><%= link_to 'Curso', sort_params(Credito, :curso_id) %></th>
  </tr>

<% @creditos.each do |credito| %>
  <tr>
    <td><%=h credito.estudiante.nombre_completo %></td>
    <td><%= credito.curso.curso_caract %></td>
    <td><%= link_to 'Show', credito %></td>
    <td><%= link_to 'Edit', edit_credito_path(credito) %></td>
    <td><%= link_to 'Destroy', credito, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear matricula', new_credito_path %>