<h1>Matrícula</h1>

<% form_for(@credito) do |f| %>
  <%= f.error_messages %>

  <p>
    <%=
	    @estudiantes = Estudiante.find(:all)
	    f.collection_select(:estudiante_id, @estudiantes, :id, :nombre_completo )
	%>
  </p>
  <p>
	<%=
	    @cursos = Curso.find(:all)
	    f.collection_select(:curso_id, @cursos, :id, :curso_caract)
	%>
   
  </p>
  <p>
    <%= f.submit 'Matricular' %>
  </p>
<% end %>

<%= link_to 'Hacia atrás', creditos_path %>