<h1>Listing notas</h1>

<table>
  <tr>
    <th>Credito</th>
    <th>Tipo nota</th>
    <th>Fecha nota</th>
    <th>Calificacion</th>
  </tr>

<% @notas.each do |nota| %>
  <tr>
    <td><%=h nota.credito_id %></td>
    <td><%=h nota.tipo_nota_id %></td>
    <td><%=h nota.fecha_nota %></td>
    <td><%=h nota.calificacion %></td>
    <td><%= link_to 'Show', nota %></td>
    <td><%= link_to 'Edit', edit_nota_path(nota) %></td>
    <td><%= link_to 'Destroy', nota, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New nota', new_nota_path %>